#container
{
 background-color: darkcyan;
    padding-bottom: 100px;

}
#topBox
{
    width: 75%;
    background-color: goldenrod;
    margin:auto;
    display: flex;           /* establish flex container */
    flex-direction: row;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;
    color: white;

}
#one{
    width: 75%;
    background-color: darkgoldenrod;
    margin:auto;
    color: black;
    font-weight: bold;
    color: white;
}
#two
{
    width: 75%;
    background-color: goldenrod;
    margin:auto;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
    color: white;
}
#Three
{
    width: 75%;
    background-color: goldenrod;
    margin:auto;
    text-align: center;
    margin-top: 20px;
   padding-bottom: 20px;
   color: white;

}
#Four
{
    width: 75%;
    background-color: goldenrod;
    margin:auto;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 100px;
    color: white;
}
.introText{

    margin-top: 10%;

    text-align: center;

}
span{
   font-family: 'Tangerine', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;

}
h1
{
     font-family: 'Kanit', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}


.img-fluid
{
    
}

.glow {
  font-size: 20px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

@media (min-width: 544px) {
    h1 {font-size:1.5rem;} 1rem = 16px
    span{font-size:10px;}
     #buttonlayout
   {
    display: flex;
    flex-flow:row;
   

   }
   
  
}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    h1,h3{font-size:14px;} /*1rem = 16px*/

    span{font-size:20px;}
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    h1 {font-size:2.5em;} /*1rem = 16px*/
    span{font-size:30px;}
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    h1 {font-size:3em;} /*1rem = 16px*/
    span{font-size:40px;}
}
.box1
{
    width: 50%;
    margin:auto;
    background-color: darkgoldenrod;
    text-align: center;
    margin-top: 20px;

}

.labels {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;


}
.skilltext {
    color: white;
    font-weight: bold;
}
.progress {
    height: 5px;

}
.progress-bar {
    background: -webkit-linear-gradient(left, #33156d 0%,#f282bc 100%); /* Chrome10-25,Safari5.1-6 */

}

.carousel {
    height: 300px;

}

.carousel-item,
.carousel-inner,
.carousel-inner img {
    height: 100%;
    width: auto;
}

.carousel-item {
    text-align: center;
}
.nav.navbar-nav li a {
    color: blue;
}
a:hover {
    background-color: darkgoldenrod;
    color: black;
}
#popup
{
    margin-top: 30px;

    position:fixed;

    left:0px;
    top:50%;


}
#descLayout
{
  min-width: 400px;
  text-align: center;
  margin:auto;
  background:darkgoldenrod
  
}
